*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     background-color: cyan;
}
.container{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.box-container{
     display: flex;
     flex-direction: column;
     background-color: #fff;
     gap: 5px;
     padding: 5px;
     box-shadow: 0 5px 15px rgb(0 0 0);
}
.row{
     display: flex;
     flex-direction: row;
     gap: 5px;
}
.box{
     height: 100px;
     width: 100px;
     background-color: darkslategray;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 5px;
}
.inner-row{
     display: flex;
     flex-direction: row;
     gap: 5px;
}
.inner{
     height: 40px;
     width: 40px;
     background-color: cyan;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 4px;
}
.deep_inner-row{
     display: flex;
     flex-direction: row;
     gap: 4px;
}
.deep_inner{
     background-color: blue;
     height: 16px;
     width: 16px;
}